<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%date{yyyy-MM-dd HH:mm:ss.SSS, Asia/Seoul} %highlight(%-5level) %logger{36} -- %msg%n</pattern> <!--  [%-5level] 모든레벨은 5자리로 줄맞춰서 출력하라 -5 는 왼쪽정렬-->
    </encoder>
  </appender>

 <!-- root logger 라고부름 -->
  <root level="DEBUG"> <!-- 여기를 info로 바꾸면 info 로 나옴 -->
    <appender-ref ref="STDOUT" />
  </root>

</configuration>